.card {
  width: 365px;
  height: 360px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 10px;
  padding: 2px;
  /* border-radius: 10px; */
  background-color: rgba(0, 0, 0, 0.759);
  color: white;

  /* background-image: url("/src/images/covid.png");
 
  background-size: contain;
  background-repeat: no-repeat */
}

.card h1 {
  /* margin-top: 10px; */
  text-align: center;
}
.card h5 {
  margin-top: 10px;
  text-align: center;
}

.cardactions {
  /* margin-top: 130px; */
  text-align: center;
  
}

.project {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: space-around;
}

.container__projects {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  margin-bottom: 10px;
  
}
