.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-top: 1px solid black;
  order: 2;
  background-color: rgb(107, 214, 178);
}

.contact__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
 align-items: center;
  flex-basis: 40%;
}
